body{
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100vw;
}
img{
    width: 100px;
}
button{
    border: none;
    padding: 0.5em 1em;
    border-radius: 1em;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 139, 148);
    transition: 0.5s ease;
}
button:hover{
    box-shadow: 5px 3px 10px rgba(8, 218, 255, 0.738) ;
    cursor: pointer;
    position: relative;
    transform: translateY(-2px);
}

.result-container{
    height: 15em;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.finalRes{
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}
.count-container{
    text-align: center;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}