body{
    background-color: black;
    color: aliceblue;
}

img{
    width: 100px;
}

button{
    border: none;
    padding: 0.5em 1em;
    border-radius: 1em;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 139, 148);
    transition: 0.5s ease;
}
button:hover{
    box-shadow: 5px 3px 10px rgba(8, 218, 255, 0.738) ;
    cursor: pointer;
    position: relative;
    transform: translateY(-5px);
}